@use "../base/" as *;
@use "../layout/" as *;
@use "../abstract/" as *;
@use "../components/" as *;
@use "../vendor/" as *;

// OFFICES
.offices{
    background-color: $clr-secondary;
    padding: 7rem 0;
    &__wrapper{
        h1{
            color: $clr-light;
            font-size: 40px;
            text-align: center;
            font-weight: 500;
            padding-bottom: 7rem;
            margin-bottom: 0;
            @include mediaQuery{
                font-size: 48px;
            }
        }
    }

    &__cardlist{
        @include mediaQuery{
            @include flex(space-between, center);
            gap: 2.5rem;
        }
    }

    &__cards{
        h3{
            color: $clr-light;
            font-size: 24;
        }
        p{
            color: $clr-light;
            font-size: 20;
            opacity: 80%;
        }
    }

    &__cards{
        border-top: 5px solid $clr-primary;
        border-left: 1px solid $clr-accent;
        border-right: 1px solid $clr-accent;
        border-bottom: 1px solid $clr-accent;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 3rem 2rem;
        margin-bottom: 3rem;
        h3{
            font-size: 24px;
        }
        p{
            font-size: 20px;
            margin-bottom: 2rem;

        }
    }
    &__cardsinfo{
        @include flex;
        gap: 2rem;
        i{
            margin-top: auto;
            margin-bottom: auto;
            font-size: 20px;
            color: $clr-primary;
            background-color: $clr-accent;
            padding: 1.5rem;
            border-radius: 0.5rem;
            &:hover{
                background-color: $clr-primary;
                color: $clr-light;
                transition: all 0.5s ease;
            }
        }
    }
    &__info{
        h4{
            color: $clr-primary;
            font-size: 20px;
            opacity: 80%;
            margin-bottom: 0;
            margin-top: 2.5rem;
        }
        p{
            a{
                color: $clr-light;
                font-size: 17.6px;
                opacity: 80%;
                margin-bottom: 0;
                &:hover{
                    opacity: 100%;
                }
            }
        }
    }
}

// MAP
.map{
    background-color: $clr-secondary;
    padding-bottom: 7rem;
    &__wrapper{
        h1{
            color: $clr-light;
            font-size: 40px;
            text-align: center;
            font-weight: 500;
            padding-bottom: 7rem;
            margin-bottom: 0;
            @include mediaQuery{
                font-size: 48px;
                padding-top: 5rem;
            }
        }
        iframe{
            width: 100%;
            height: 55vh;
        }
    }
}

// QUESTIONS
.questions{
    background-color: $clr-secondary;

    &__wrapper{
        h1{
            color: $clr-light;
            font-size: 40px;
            text-align: center;
            font-weight: 500;
            padding-bottom: 7rem;
            margin-bottom: 0;
            @include mediaQuery{
                font-size: 48px;
                padding-top: 5rem;
                
            }
        }

        form{
            p{
                margin-bottom: 0;
                color: $clr-light;
                font-size: 16px;
                span{
                    color: red;
                }
            }
            input{
                background-color: transparent;
                border: 1px solid gray;
                width: 100%;
                height: 50px;
                margin-bottom: 2rem;
            }
            textarea{
                background-color: transparent;
                border: 1px solid gray;
                width: 100%;
                height: 160px;
                margin-bottom: 5rem;
            }
        }
    }

    &__personal{
        @include mediaQuery{
            @include flex;
            gap: 2rem;
        }
    }

    &__btn{
        padding-bottom: 7rem;
        a{
            letter-spacing: 0.1rem;
            font-weight: bold;
            font-size: 17.6px;
            padding: 8px 20px ;
            border: 2px solid $clr-primary;
            border-top-right-radius: 1.5rem;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 0.5rem;
            color: $clr-light;
            background-color: $clr-primary;
            font-weight: 500;
            i{
              margin-left: 1rem;
            }
            &:hover{
              border: 2px solid $clr-primary;
              background-color: transparent;
              transition: all 0.5s ease;
              i{
                transform: translateX(30%);
                transition: all 0.5s ease;
              }
            }
          }
    }
}