@use "../base/" as *;
@use "../layout/" as *;
@use "../abstract/" as *;
@use "../components/" as *;
@use "../vendor/" as *;

.banner {
  &__wrapper {
    h1 {
      color: aqua;
    }
  }
}

// SERVICES 
.services{
  background-color: $clr-secondary;
  padding: 4rem 0;
  &__title{
    @include mediaQuery{
      @include flex(space-between, center);
      margin: 5rem 0;
    }
  }
  &__info{
    h1{
      color: $clr-light;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 12px;
      margin-top: 12px;
    }
    p{
      color: $clr-light;
      opacity: 70%;
      font-size: 16px;
      padding-bottom: 2rem;
      max-width: 30rem;
      @include mediaQuery{
        max-width: 40rem;
      }
    }
  }

  &__btn{
    margin-bottom: 5rem;
    a{
      letter-spacing: 0.1rem;
      font-weight: bold;
      font-size: 17.6px;
      padding: 8px 20px ;
      border: 2px solid $clr-primary;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 0.5rem;
      color: $clr-light;
      background-color: $clr-primary;
      font-weight: 500;
      i{
        margin-left: 1rem;
      }
      &:hover{
        border: 2px solid $clr-primary;
        background-color: transparent;
        transition: all 0.5s ease;
        i{
          transform: translateX(30%);
          transition: all 0.5s ease;
        }
      }
    }
  }

  &__cardhover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.7rem;
    border:0.5px solid transparent;
    transition: all 0.5s ease;
  }
  // &__cardhover::before{
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   border-radius: 0.7rem;
  //   border:0.5px solid transparent;
  //   transition: all 0.5s ease;
  // }
    
  //   &__cardhover::after{
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     border-radius: 0.7rem;
  //     border:0.5px solid transparent;
  //     transition: all 0.5s ease;
  //   }

    &__cardhover:hover{
      background-color: $clr-primary;
      border-radius: 0.7rem;
      border:0.5px solid $clr-primary;
      transition: all 0.5s ease;
    }


  &__cardlist{
    @include mediaQuery{
      @include grid(3);
      gap: 2rem;
    }
  }
  &__cards{
    position: relative;
    margin-top: 2rem;
    border:0.5px solid $clr-primary;
    border-radius: 1rem;
    padding: 32px;
    transition: all 0.3s ease;
    @include mediaQuery{
      margin-top: 0;
    }
    h3{
      color: $clr-light;
    }
    p{
      color: $clr-light;
      font-size: 17.6px;
      margin-bottom: 2rem;
    }
    a{
      
      color: $clr-primary;
      font-size: 17.6px;
    }
    
  }

  &__cardicon{
    color: $clr-primary;
      font-size: 40px;
  }

}


// PORTFOLIO

.portfolio{
  background-color: $clr-secondary;
  padding: 5rem 0;
  &__title{
    @include mediaQuery{
      @include flex(space-between,center);
    }
  }
  &__info{
   
    h1{
      color: $clr-light;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }
  &__btn{
    margin-bottom: 5rem;
    a{
      letter-spacing: 0.1rem;
      font-weight: bold;
      font-size: 17.6px;
      padding: 8px 20px ;
      border: 2px solid $clr-primary;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 0.5rem;
      color: $clr-light;
      background-color: $clr-primary;
      font-weight: 500;
      i{
        margin-left: 1rem;
      }
      &:hover{
        border: 2px solid $clr-primary;
        background-color: transparent;
        transition: all 0.5s ease;
        i{
          transform: translateX(30%);
          transition: all 0.5s ease;
        }
      }
    }
  }

  &__navm{
    padding: 4rem 0;
    ul{
      padding: 0 3rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      li{
        a{
          font-size: 20px;
          text-align: center;
          color: $clr-light;
        }
      }
      @include mediaQuery{
        justify-content: start;
        padding: 0;
      }
    }
  }

  &__cardlist{
    @include mediaQuery{
      @include grid(3);
    }
  }
  &__cards{
    width: 385px;
    position: relative;
    overflow:clip;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    @include mediaQuery{
      width: 426.66px;
    }
    img{
      width: 385px;
      height: 450px;
      @include mediaQuery{
        width: 426.66px;
        height: 450px;
      }
    }
    &:hover{
      img{
        scale: 1.1;
        transition: all 0.5s ease;
      }
  }
  }
  &__arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $clr-primary;
    z-index: 9;
    height: 6rem;
    width: 6rem;
    align-content: center;
    i{
      padding: 2rem;
      color: $clr-light;
    }
  }

  &__name{
    position: absolute;
    background-color: $clr-dark;
    opacity: 50%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 6rem;
    align-content: center;
    h4{
      margin-bottom: 0;
      color: $clr-light;
      opacity: 100%;
      padding-left: 8rem;
      font-size: 20px;
    }
  }
}


// LATEST NEWS

.news{
  background-color: $clr-secondary;
  padding: 5rem 0;

  &__title{
    @include mediaQuery{
      @include flex(space-between, center);    
    }
  }
  &__cardlist{
    @include mediaQuery{
      @include flex(space-between, center);
      gap: 3rem;
    }
  }
  &__cards{
    position: relative;
    margin-bottom: 3rem;
    transition: all 0.5s ease;
    &:hover{
      img{
        scale: 1.1;
        transition: all 0.5s ease;
      }
    }
  }
  &__date{
    position: absolute;
    background: rgba(46, 43, 43, 0.651);
    border-radius: 3rem;
    padding: 0 2rem;
    align-items: center;
    top: 2rem;
    left: 2rem;
    z-index: 9;
    p{
      line-height: 2;
      margin-bottom: 0;
      color: $clr-light;
      font-weight: 500;
    }
  }
  &__img{
    overflow: clip;
  }

  &__info{
    
    h1{
      color: $clr-light;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 3rem;
      margin-top: 12px;
      line-height: 1;
    }
  }

  &__btn{
    margin-bottom: 8rem;
    a{
      letter-spacing: 0.1rem;
      font-weight: bold;
      font-size: 17.6px;
      padding: 8px 20px ;
      border: 2px solid $clr-primary;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 0.5rem;
      color: $clr-light;
      background-color: $clr-primary;
      font-weight: 500;
      i{
        margin-left: 1rem;
      }
      &:hover{
        border: 2px solid $clr-primary;
        background-color: transparent;
        transition: all 0.5s ease;
        i{
          transform: translateX(30%);
          transition: all 0.5s ease;
        }
      }
    }
  }

  &__cards{
    background-color: $clr-accent;
  }
  &__cardsinfo{
    padding: 2rem;
    h2{
      color: $clr-light;
      cursor: pointer;
      font-size: 24px;
      &:hover{
        color: $clr-primary;
      }
    }
    p{
      color: $clr-light;
      opacity: 70%;
      font-size: 16px;
    }
  }
  &__pins{
    color: $clr-light;
    @include flex(start, center);
    gap: 1rem;
    margin-bottom: 2rem;
    i{
      color: $clr-primary;
      line-height: 0;
    }
    p{
      font-weight: 400;
      margin: auto 0;
      opacity: 70%;
    }
  }
  &__cardbtn{
    a{
      color: $clr-primary;
      font-size: 16px;
      margin-right: 1rem;
      i{
        margin-left: 0.5rem;
      }
    }
    &:hover{
      i{
        transform: translateX(40%);
        transition: all 0.5s ease;
      }
      
    }
  }
}

// PRICE

.price{
  background-color: $clr-secondary;
  padding: 5rem 0;
  &__title{
    @include mediaQuery{
      @include flex(space-between, center);
    }
  }
  &__info{
   
    h1{
      color: $clr-light;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 1rem;
      margin-top: 12px;
      line-height: 1;
     
    }
    p{
      color: $clr-light;
      font-size: 16px;
      margin-bottom: 3rem;
      max-width: 44rem;
      @include mediaQuery{
        margin-bottom: 5rem;
      }
    }
  }

  &__btn{
    margin-bottom: 8rem;
    a{
      letter-spacing: 0.1rem;
      font-weight: bold;
      font-size: 17.6px;
      padding: 8px 20px ;
      border: 2px solid $clr-primary;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 0.5rem;
      color: $clr-light;
      background-color: $clr-primary;
      font-weight: 500;
      i{
        margin-left: 1rem;
      }
      &:hover{
        border: 2px solid $clr-primary;
        background-color: transparent;
        transition: all 0.5s ease;
        i{
          transform: translateX(30%);
          transition: all 0.5s ease;
        }
      }
    }
  }

  &__cardlist{
    @include mediaQuery{
      @include flex(space-between, center);
    }
  }

  &__cards{
    position: relative;
    border: 1px solid $clr-primary;
    padding-top: 13rem;
    margin-bottom: 3rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;

    h4{
      color: $clr-light;
      text-align: center;
      font-size: 24px;
    }
    h1{
      color: $clr-light;
      text-align: center;
      font-size: 64px;
    }
    h6{
      color: $clr-light;
      text-align: center;
      font-size: 17.6px;
      margin: 4px;
      padding-bottom: 5rem;
      font-style: italic;
      font-weight: 400;

    }
    ul{
      text-align: center;
      padding-bottom: 1rem ;
      li{
        color: $clr-light;
        font-size: 16px;
        padding: 12px 0;
      }
    }
  }
  &__cardicon{
    justify-self: center;
    i{
      color: $clr-primary;
      position: absolute;
      top: 8%;
      left: 40%;
      font-size: 64px;
      @include mediaQuery{
        left: 37%;
      }
    }
  }

  .activea{
    justify-self: center;
    i{
      color: $clr-light;
      position: absolute;
      top: 8%;
      left: 40%;
      font-size: 64px;
      @include mediaQuery{
        left: 37%;
      }
    }
  }

  &__cost{
    i{
      color: $clr-primary;
      font-size: 24px;
      position: absolute;
      top: 29%;
      left: 31%;
      @include mediaQuery{
        top: 27%;
        left: 25%;
      }
    }
  }
  .activeb{
    i{
      color: $clr-light;
      font-size: 24px;
      position: absolute;
      top: 29%;
      left: 31%;
      @include mediaQuery{
        top: 27%;
        left: 25%;
      }
    }
  }

  &__cardbtn{
    justify-self: center;
    margin: 4rem 2rem;
    a{
      letter-spacing: 0.1rem;
      font-weight: bold;
      font-size: 17.6px;
      padding: 8px 13rem ;
      border: 2px solid $clr-primary;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 0.5rem;
      color: $clr-light;
      background-color: transparent;
      font-weight: 500;
      @include mediaQuery{
        padding: 8px 8rem;
      }
      &:hover{
        background-color: $clr-primary;
        transition: all 0.5s ease;
      }
    }
  }

  .active{
    justify-self: center;
    margin: 4rem 2rem;
    a{
      letter-spacing: 0.1rem;
      font-weight: bold;
      font-size: 17.6px;
      padding: 8px 13rem ;
      border: 2px solid $clr-light;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 0.5rem;
      color: $clr-light;
      background-color: transparent;
      font-weight: 500;
      transition: all 0.5s ease;
      @include mediaQuery{
        padding: 8px 8rem;
      }
      &:hover{
        color: $clr-primary;
        background-color: $clr-light;
        transition: all 0.5s ease;
      }
    }
  }

  &__cards:nth-child(3){
    background-color: $clr-primary;
  }
}


// TESTIMONIALS
.test{
  
  position: relative;
  background-image: url(../../images/bg\ testimonials.jpg);
  filter: opacity(100);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
  z-index: 1;

  &__title{
    text-align: center;
    h1{
      color: $clr-light;
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 5px;
      line-height: 1;
    }
  }
  &__content{
    position: relative;
    margin-top: 3rem;
    cursor: grab;
    img{
      width: 72px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
      border: 3px solid $clr-primary;
      border-radius: 100%;
    }
    p{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 18.4px;
      font-style: italic;
      color: $clr-light;
      text-align: center;
      max-width: 35rem;
    }
    h3{
      font-size: 20px;
      color: $clr-light;
      font-weight: 500;
      margin-bottom: 0;
      text-align: center;
    }
    h6{
      font-size: 16px;
      color: $clr-light;
      font-weight: 500;
      text-align: center;
    }
  }
}
