@use "../base/" as *;
@use "../layout/" as *;
@use "../abstract/" as *;
@use "../components/" as *;
@use "../vendor/" as *;

.bg-image {
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @include mediaQuery {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.hero {
  &__wrapper {
    @include flex(space-between, center);
    flex-direction: column;
    text-align: center;
    h4,
    h1 {
      color: $clr-light;
      margin: 0;
      line-height: 1;
    }
    h1 {
      font-weight: bold;
      font-size: clamp(2.5rem, 6vw, 15rem);
    }
    h4 {
      font-weight: 500;
      font-size: clamp(1rem, 6vw, 1.6rem);
    }
  }
}

.instruction {
  padding: 10rem 0;
  background-image: url(/img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  &__wrapper {
    @include flex(space-around, center);
    flex-direction: column;
    @include mediaQuery {
      flex-direction: row;
    }
    img {
      height: 150px;
    }
    i {
      @include mediaQuery {
        rotate: unset;
      }
      rotate: 90deg;
      color: $clr-secondary;
      font-size: 3rem;
    }
  }

  .instruction--content {
    h2 {
      text-align: center;
      color: #433d3c;
      font-family: "Economica", sans-serif;
      letter-spacing: 0.2rem;
    }
  }
}

.menu {
  background-image: url(../../img//repeating-bg.jpg);
  background-repeat: repeat;
  background-size: 5rem;
  &__wrapper {
    padding: 5rem 0;
    .menu-item {
      .menu-item-flex {
        @include mediaQuery {
          flex-direction: row;
        }
        flex-direction: column-reverse;
        justify-content: center;
      }
      .menu-item-img {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
      }
      img {
        height: 220px;
        transform: translateX(2rem);
      }
      h4 {
        font-family: "Economica", sans-serif;
        color: #433d3c;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0;
      }
      span {
        color: #e60033;
        font-size: 2rem;
        font-weight: bold;
      }
      li {
        font-family: "Walter Turncoat", cursive;
      }
      .menu-item-broth {
        font-family: "Walter Turncoat", cursive;
        color: #433d3c;
        font-size: 3rem;
      }
    }
    a {
      text-align: center;
      color: $clr-dark;
      font-weight: 700;
      letter-spacing: 0.2rem;
      border-radius: 1rem;
      background-color: $clr-light;
      font-size: clamp(1rem, 6vw, 1.3rem);
      padding: 1rem 2.5rem;
      transition: 0.5s ease;
      &:hover {
        color: $clr-light;
        background-color: $clr-secondary;
      }
    }
  }
}

.schedule {
  background-image: url(../../img/banner.png);
  padding: 10rem 0rem;
  &__wrapper {
    text-align: center;
    h2 {
      color: #e60033;
      margin-bottom: 0;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      font-size: clamp(1.3rem, 3vw, 1.8rem);
      color: $clr-accent;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 5rem;
    }
  }
}

.bottom-images {
  display: flex;
  img {
    width: 33.33%;
    flex-wrap: wrap;
  }
}

.footer {
  padding: 3rem 0;
  background-color: #433d3c;
  &__wrapper {
    @include mediaQuery {
      @include flex(space-between, center);
      flex-direction: row;
      align-content: center;
    }
    @include flex(space-between, center);
    flex-direction: column;
    gap: 2rem;

    .social-icons {
      font-size: 3rem;
      ul {
        li {
          a {
            color: $clr-accent;
            margin: 0 1rem;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }

    .address {
      h4 {
        margin: 0;
        font-size: clamp(1.2rem, 2vw, 1.8rem);
        text-align: center;
        color: $clr-light;
      }
    }
    .footer-action {
      a {
        color: var(--light);
        font-weight: 700;
        letter-spacing: 0.2rem;
        border-radius: 1rem;
        background-color: var(--accent);
        font-size: clamp(1rem, 6vw, 1.3rem);
        padding: 1rem 3rem;
        transition: 0.5s ease;
        &:hover {
          background-color: $clr-secondary;
        }
      }
    }
  }
}
